.clothes-section {
  margin-top: 32px;
}

.clothes-section_content {
  display: flex;
}

.clothes-section_title {
  margin: 0;
  font-size: 20px;
  line-height: 24.8px;
  font-weight: 700;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
}

.clothes-section_button {
  cursor: pointer;
  border: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin-left: 20px;
  background-color: #f3f3f3;
  font-size: 20px;
  line-height: 24.8px;
  font-weight: 700;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  opacity: 0.6;
}

.clothes-section_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  margin-top: 16px;
}
